:host {
    font-family: inherit;
}

.tooltipWrapper {
    padding: var(--dv-world-map-tooltip-padding, 2rem);
    font-size: var(--dv-world-map-tooltip-font-size, 1rem);
    color: var(--dv-world-map-tooltip-color, #333);
    background-color: var(--dv-world-map-tooltip-background, #fff);
    border: var(--dv-world-map-tooltip-border-width, 1px) solid var(--dv-world-map-tooltip-border-color, #ccc);
    border-radius: var(--dv-world-map-tooltip-border-radius, 1rem);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.tooltipTitle {
    margin: 0;
    font-size: var(--dv-world-map-tooltip-title-font-size, 1.25em);
    font-weight: var(--dv-world-map-tooltip-title-font-weight, 700);
    color: var(--dv-world-map-tooltip-title-color, #333);

    & + span {
        margin-top: .25rem;
    }
}

.tooltipDescription {
    display: inline-block;
    margin: 0;
    font-size: var(--dv-world-map-tooltip-description-font-size, .9em);
    font-weight: var(--dv-world-map-tooltip-description-font-weight, 400);
    color: var(--dv-world-map-tooltip-description-color, #555);
}

.mapContainer {
    position: relative;
    aspect-ratio: 16 / 7;
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: var(--dv-world-map-background, transparent);

    & path {
        transition: fill .3s;
    }
}
